
@{
    ViewData["Title"] = "AjaxPost";
}

<h1>AjaxPost</h1>
<div class="row">
    <div class="col-6">
        <form method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">名字</label>
                <input type="text" class="form-control" id="Name" name="name">
            </div>
            <div class="mb-3">
                <label for="Email1" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email1" name="email">
            </div>
            <div class="mb-3">
                <label for="Age" class="form-label">年齡</label>
                <input type="number" class="form-control" id="Age" name="age">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="alert alert-primary" role="alert" id="div1">
            @*@ViewBag.name*@
        </div>
    </div>
</div>

@section Scripts{ 
<script>
    const btn = document.querySelector('button[type="submit"]');
    const divMessage = $("#div1");
    const txtName = $("#Name");
    const txtEmail = $("#Email1");
    const txtAge = $("#Age");
    btn.addEventListener("click", (evt) => {
        evt.preventDefault();
        //console.log("貓");
        const xhr = new XMLHttpRequest();

        xhr.addEventListener("load", () => {
            let data = xhr.responseText;
            divMessage.html(data);
        })

        xhr.open("POST","@Url.Content("~/api/Register")");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        const params = `name=${txtName.val()}&age=${txtAge.val()}&email=${txtEmail.val()}`;
        xhr.send(params);
    })
</script>
}
